.user-input {
  &-container {
    width: min(500px, calc(100vw - 32px));
    min-height: 100px;

    border: 1px solid #000;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 8px;
  }

  &-text-area {
    width: 100%;
    min-height: 56px;
    flex: 1;

    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  &-handle-area {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left,
    &-right {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}
